#navMenu {
  background-color: white;
  z-index: 9999;
}
#navMenuIcon {
  color: #f44336;
  padding-right: 35px;
}
.navItem {
  composes: action from 'shared/styles/colors.css';
}
.navItem:hover {
  border-color: #f44336 !important;
}
.mobileNavItem {
  font-size: 16px !important;
  font-weight: bold !important;
}

/* TABLET */
@media (min-width: 768px) {
  #navMenu {
    background-color: white !important;
  }
  #navMenuIcon {
    color: #f44336 !important;
  }
}
