.imageBorder {
  border: 2px solid #f44336 !important;
}
.contentBorder {
  border: 1px solid #f44336 !important;
}
.actionButton {
  background-color: #f44336 !important;
}
.actionButton:hover {
  background-color: #e53935 !important;
}
.gridMargin { margin-top: 2em !important; }
.anchorOffset {
  position: absolute !important;
  top: -3em !important;
}
.sectionBG {
  background-image: url(/images/section-bg.svg) !important;
  background-size: cover !important;
}
.dimmedImageBG {
  background-color: white !important;
}

@media (max-width: 767px) {

}

/* MOBILE */
@media (max-width: 480px) {
  .sectionActionText {
    font-size: 16px !important;
  }
}
