.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
#mobileCover {
  width: 100%;
  height: 600px;
  position: absolute;
  top: -15px;
  left: 0;
  background-image: url(/images/cover-image-blank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50.00% 100.00%;
  padding: 0;
  vertical-align: middle;
  background-color: transparent;
  padding: 0;
}
.summaryHeading {
  position: absolute;
  color: white;
  font-weight: bold;
}
#headingOne {
  top: 115px;
}
#headingTwo {
  top: 140px;
}
#headingButton {
  background-color: black;
  color: white;
  position: absolute;
  top: 185px;
  z-index: 9996;
}

/* PHONE */
@media (min-width: 768px) {
  #mobileCoverSegment {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .summaryHeading {
    font-size: 54px;
  }
  #headingTwo {
    top: 235px;
  }
  #headingButton {
    top: 425px;
  }
}
@media (max-width: 600px) {
  .summaryHeading {
    font-size: 48px;
  }
  #headingTwo {
    top: 225px;
  }
  #headingButton {
    top: 400px;
  }
}
@media (max-width: 480px) {
  .summaryHeading {
    font-size: 42px;
  }
  #headingTwo {
    top: 215px;
  }
  #headingButton {
    top: 375px;
  }
}
@media (max-width: 380px) {
  .summaryHeading {
    font-size: 36px;
  }
  #headingTwo {
    top: 195px;
  }
  #headingButton {
    top: 350px;
  }
}
@media (max-width: 320px) {

}
